:root {
}

.fancy-button {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 32px;
    flex-basis: 0;
}



.unity-list-view__empty-label {
    display: none;
}
